VITE_API_URL=http://localhost:8080/api
VITE_AIRTABLE_CLIENT_ID=YOUR_CLIENT_URL_FROM_AIRTABLE
VITE_AIRTABLE_REDIRECT_URI=http://localhost:5173/callback


# Production 
VITE_API_URL=https://dynamic-form-builder-2l40.onrender.com/api
VITE_AIRTABLE_REDIRECT_URI=https://dynamic-form-builder-ten-omega.vercel.app/callback
VITE_AIRTABLE_CLIENT_ID=YOUR_CLIENT_URL_FROM_AIRTABLE