# Server Configuration
PORT=8080

# Database Connection 
# Local example: mongodb://localhost:27017/yourDBName
# Production example: mongodb+srv://<user>:<password>@cluster0.mongodb.net/yourDBName
MONGO_URI=mongodb://localhost:27017/airtable_form_builder

# Security Secrets
JWT_SECRET=your_super_secret_jwt_key_here

# Airtable OAuth Configuration [cite: 151]
# Get these from https://airtable.com/create/oauth
AIRTABLE_CLIENT_ID=your_airtable_client_id
AIRTABLE_CLIENT_SECRET=your_airtable_client_secret
AIRTABLE_REDIRECT_URI=http://localhost:3000/callback


PORT=8080
MONGO_URI=
JWT_SECRET=
AIRTABLE_CLIENT_ID=
AIRTABLE_CLIENT_SECRET=
AIRTABLE_REDIRECT_URI=